$gray : #C8C8C8;

.cartContainer {
  border: 1px solid $gray;
  border-radius: 6px;
  width: 600px;
  margin: 20px 200px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;


  .productContainer {
    display: flex;

    padding: 20px 0px;
    border: 1px solid red;

    .productImg {
      background-size: cover;
      width: 100px;
    }

    .productInfo {
      width: 300px;
      border: 1px solod green;
      display: flex;
      justify-content: space-between;
    }
  }


  .cartInfo {
    padding: 20px 0px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
  }

}